<% layout("/layouts/boilerplate")%>
<div class="row mt-3">
    <h2 class="col-6 offset-2">Signup on Wanderlust</h2>
    <div class="col-6 offset-2">
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" placeholder="Enter a username" type="text" class="form-control"
                    required>
                <div class="valid-feedback">Username looks good</div>
                <div class="invalid-feedback">Please enter correct username</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" id="email" placeholder="Enter a email" type="email" class="form-control"
                    required>
                <div class="valid-feedback">Email looks good</div>
                <div class="invalid-feedback">Please enter correct email</div>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" id="password" placeholder="Enter a password" type="password" class="form-control"
                    required>
                <div class="valid-feedback">Password looks good</div>
                <div class="invalid-feedback">Please enter correct password</div>
            </div>
            <button class="btn btn-success">SignUp</button>
        </form>
    </div>
</div>